body{
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section{
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.5);
    width: 400px;
    padding: 15px;
}

#text-Section{
    margin: 10px;
}